body{
	text-align: center;
	overflow: auto;
	padding: 5px;
}


#game{
	position: relative;	
	/*background-image: url("../bg.jpg");
	background-repeat: repeat;*/
	background-color: #17202A;	
	border-radius: 5px;
	margin:0 auto;		
}

.cnv{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 2;	

}

#canvas2{
	background-color: transparent;
	z-index: 4;
}

#canvas3{
	background-color: transparent;
	z-index: 3;
}

#canvas1{	
	background-color: transparent;
	z-index: 100;
}
